[submodule "SymbulationEmp"]
	path = SymbulationEmp
	url = https://github.com/anyaevostinar/SymbulationEmp.git
[submodule "Empirical"]
	path = Empirical
	url = https://github.com/devosoft/Empirical.git
